
@{
    ViewBag.Title = "Index";
}



<h3>Thank you for the feedback</h3>

<div>
    <a href='@Url.Action("Index", "Contractors")'>
        <input type='button' value='Back to My Page' />
    </a>
</div>