
@{
    ViewBag.Title = "Help";
}

<h2>How may we help You?</h2>

<div>
    <h3>How To?</h3>
    <h4>Steps to Apply For Tender</h4>
    <br>
    <h4>Step1: Login to your account</h4>
    <h4>Step2: You will see a list of available tenders</h4>
    <h4>Step3: Click on the "Details" to see the details and apply for the tender</h4>
    <h4>Step4: You will see "Apply" at the bottom. Click it to apply</h4>
    <h4>Step5: You now have to quote for the tender and upload your liability document</h4>
    <h4>Step6: Click "Apply"</h4>
    <h4>Step7: Boom!! Congrats you have successfully applied for the tender</h4>
    <br>
</div>

<div>
    <h3>Reach us at...</h3>
    <h4>Address: MH36, Tenders Lane, Vadgaon(BK), Pune-411041</h4>
    <h4>Contact: 9876543210</h4>
    <h4>Email: tendermanagementsystema053@gmail.com</h4>
</div>

