@*@{
        ViewBag.Title = "Home";
    }

    <h2>Home</h2*@>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h4>Welcome</h4>
    </div>
</body>
</html>
